<div class="header">
  <div class="inner-header">
    <h1 class="title">
      Like Share Tag
    </h1>
    <li class="new-post"> 
      <%= link_to "NEW post",  new_memo_path %>
    </li>
  </div>
</div>

<div class="main">
  <div class="message-wrap">
    <% @memos.each do |memo| %>
      <div class="tag">
        <p class="tag-list">
          <% memo.memo_content %>
        </p>
        <ul class="message">
          <li class="text">
            <% memo.tags.each do |tag| %>
              #<%= tag.tag_name %>
            <% end%>
          </li>
        <ul>
      </div>
    <% end %>
    <%= link_to "Back", :back %>
  </div>
</div>